#project {
    z-index: 2;
}

#projectTitle {
    font-size: 2.5rem;
    font-family: var(--font-one);
    text-align: center;
}

.project-item {
    margin-bottom: 30px;
    text-align: center;
}

#item-title {
    color: black;
    font-family: var(--font-two);
    font-weight: bold;
}

.project-images {
    border-radius: 10px;
    width: 295px;
    height: 196px;
}